*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/server/data/
/server/build/
/server/logs/
/server/*.db
/server/*.db-shm
/server/*.db-wal
/captures
.externalNativeBuild
.cxx
local.properties
